PORT=3007
JWT_SECRET=troque-para-um-segredo-forte
APP_ENV=dev

DATABASE_URL=postgresql://user:password@host:5432/dbname?sslmode=disable

OPENAI_API_KEY=coloque_sua_api_key
OPENAI_CHAT_MODEL=gpt-4o-mini
OPENAI_AUDIO_MODEL=whisper-1

GOOGLE_CLIENT_ID=coloque_o_client_id_google

# Asaas configuration
ASAAS_API_URL=https://api-sandbox.asaas.com/v3
ASAAS_WALLET_ID=wallet_id_aqui
ASAAS_API_TOKEN='seu_token_aqui'
ASAAS_WEBHOOK_TOKEN="seu_webhook_token_aqui"

# Subscription Prices
ASAAS_MONTHLY_PLAN_PRICE=49.90
ASAAS_YEARLY_PLAN_PRICE=478.90

# Invoice Configuration
ASAAS_INVOICE_OBSERVATIONS="NOTA FISCAL EMITIDA POR EMPRESA OPTANTE DO SIMPLES NACIONAL CONFORME LEI COMPLEMENTAR 123/2006. NÃO GERA DIREITO A CRÉDITO DE I.P.I./ICMS."
ASAAS_INVOICE_MUNICIPAL_SERVICE_CODE="01.03.01"
ASAAS_INVOICE_MUNICIPAL_SERVICE_NAME="Processamento, armazenamento ou hospedagem de dados, textos, imagens, vídeos, páginas eletrônicas, aplicativos e sistemas de informação, entre outros formatos, e congêneres"
ASAAS_INVOICE_ISS_TAX=5.0